<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>The NASDAQ 100</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="static/css/styles.css"> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NASDAQ-100</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sources</a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="container">
        <section class="row">
          <div class="col-lg-12 col-md-12">
            <div class="description-content">
              <h2 class="description-header">Taking a look a the NASDAQ-100.</h2>
              <hr>
              <p>The purpose of this project is to analyze the companies in the NASDAQ-100, an index which actually includes 103 companies, and is composed of the largest non-financial companies listed on the NASDAQ. The data for the tickers comes from Quandl and includes relevant stock information between January 1, 2017 and January 1, 2018.</p>
              <p>Select a ticker from the dropdown below and click "Analyze" to get started.</p>
              <p>If you're interested in some more in-depth analysis on a ticker, check out the "Analysis" page to examine the effectiveness of a simple breakout strategy.</p>
              <div class="col-lg-3 col-md-3">
                <select class="custom-select" method="GET" action="/">
                    {% for ticker in data.symbols %}
                        <option value="{{ticker}}" SELECTED>{{ticker}}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary btn-sm" onclick="getData()">Analyze</button>
              </div>
            <hr>
          </div> 
    </div>
    <div class="container">
      <p id="company"></p>
      <p id="periodHigh"></p>
      <p id="periodLow"></p>
      <p id="percentChange"></p>
    </div>
    <div class="container" id="candlestickChart"></div>
    <div class="container" id="barChart"></div>

</body>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/stock_data.js"></script>
  <script src="static/js/config.js"></script>

</body>

</html>